<h2>This is a title</h2>
        <div class="groupA">
            <form>
                <input type="text" value="City" id="edCity">
                <br><br>
                <select id="cbCity">
                    <option>Alabama</option>
                    <option>New York</option>
                    <option>Massachussets</option>
                    <option>Chicago</option>
                    <option>Miami</option>
                    <option>Houston</option>
                    <option>Seattle</option>
                </select>
                <br><br>
                <select id="idCountry">
                    <option>Argentine</option>
                    <option>Brasil</option>
                    <option>Canada</option>
                    <option>England</option>
                    <option>France</option>
                    <option>Germany</option>
                    <option>Mexico</option>
                    <option>Spain</option>
                    <option>Italy</option>
                    <option>Japan</option>
                    <option>South Korea</option>
                    <option>Ireland</option>
                    <option>Venezuela</option>
                    <option>USA</option>
                </select>
                <br><br>
                <input type="button" onclick="showMe()" value="Show Message">
            </form>
            <script type="text/javascript">
                function showMe() {
                    // alert ('Hello world!');
                    // var value = $('edCity').attr('value');
                    alert(edCity.value);
                }
            </script>
        </div>