
body {
    background-color: #484888;
}

/***************** Logoyes Header Begin ****************/
.lgHeader {
    width: 940px;
    height: 200px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    background-color: #FFAAFF;
    margin: auto;
    text-align: center;
    font-family: courier;
    font-size: 60px;
}
/***************** Logoyes Header End   ****************/

/***************** Logoyes Body Begin ****************/
.lgBody{
    width: 940px;
    height: 445px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    background-color: #FFAAFF;
    margin: auto;
    text-align: center;
    font-family: courier;
    font-size: 20px;
    overflow: hidden;
    display: block;
}
/***************** Logoyes Body End   ****************/

/***************** Main Table Begin ****************/
/*
.lgPanel {
    margin: auto;
    width: 1024px;
    height: 768px;
    background-color: aqua;
    display: block;
    overflow: hidden;
    background: scroll;
}
*/

div.lgPanel {
    margin: auto;
    display: block;
    overflow: hidden;
    background: scroll;
    width:  930px;
    height: 400px;
    overflow: auto;
    border: 1px none #666;
    border-radius: 5px;
    /* background-color: green; */
    padding: 1px;
}

.lgTable {
    margin: auto;
    display: table;
    width: auto;
    border-color: blue;
    /* background-color: #AADDAA; */
    color: navy;
    padding: 1px;
    border-style: none;
    border-width: 1px;      
}

.lgRow{
    /* background-color: #CC0BAB; */
    display: table-row;
    width: auto;
    padding: 1px;
    border-style: none;
    border-width: 1px;
}

.lgColumn {
    display: table-column;
    /* background-color: #666666; */
    color: #DDEFEA;
    width: 150px;
    height: 150px;
    border-style: none;
    border-width: 1px;
    border-color: black;
    float: left;
    padding: 1px;
}

.lgCell {
    border-style: solid;
    border-color: #666666;
    border-radius: 8px;
    border-width: 2px;
    padding: 10px;
    margin: auto;
    width: 80%;
    height: 80%;
    background-color: #999999;
    /* background-color: -moz-linear-gradient(top left, #FFFFFF 0%, #00A3EF 100%); */
    /* background-color: -webkit-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); */
}
/***************** Main Table End ****************/
div.a2zPanel {
    margin: auto;
    display: block;
    overflow: hidden;
    background: scroll;
    width:  100%;
    height: 50px;
    overflow: auto;
    border: 1px none #666;
    border-radius: 5px;
    padding: 1px;
}

.a2zColumn {
    width:  34px;
    height: 34px;
}

.a2zCell {
    border-style: solid;
    border-color: #6666ff;
    border-radius: 5px;
    border-width: 1px;
    padding: 1px;
    width: 80%;
    height: 80%;
    background-color: #EEAAFF;
    text-align: center;
    font-size: 28px;
    color: #5A5A5A;
}

.a2zCell:hover {
    background-color: navy;
    background-image: url('./images/twitter_ios.jpg');
    color: blue;
    cursor: pointer;
    -webkit-transform: scale(1.3);
    -webkit-transition: all .2s ease-in-out 0s;
    -moz-transform: scale(1.3);
    -moz-transition: all .2s ease-in-out 0s;
}

