
body {
    background-color: #404080;
    color: white;
    text-align: center;
    font-family: courier;
}

.frameHead {
    padding: 10px;
    background-color: #000080;
    color: white;
    border-radius: 5px;
    font-size: 60px;
    width: 70%;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

.frameBody {
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    background-color: #000080;
    color:  white;
    text-align: left;
    font-size: 20px;
    width: 70%;
    margin: auto;
}

.panelBody {
    padding: 10px;
    border-radius: 5px;
    /* background-color: #040406; */
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
}

a:active {
    color: white;
}
a:link {
    color: white;
}
a:hover {
    color: aqua;
    text-decoration: none;
}
a:visited {
    color: #A1A1A6;
}
